@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    cursor: context-menu;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

a :hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer !important;
}

/* Styles for navbar */

#nav-container{
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    
}

.nav-logo{
    justify-self: flex-start;
}

.logo{
    height: 50px;
    width: 120px;
}

.listAndBtn{
    margin-left: 28%;
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}


.nav-link > a{
    font-size: 15px;
    font-weight: 590;
    color: #c9c9c9;
}

.nav-links :first-child > a{
    font-size: 15px;
    font-weight: 590;
    color: #000;
}

.nav-btn{
    margin-left: 50px;
}

.RegButton{
    height: 50px;
    width: 170px;
    background: transparent;
    border: 2px solid;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
}

/* ------------------------- */

/* Styles for main container */

/* #main-container{
    margin: 0 3%;
} */

/* ------------------------------------- */
/* Styles for section 1 (main-container) */
/* ------------------------------------- */

.section-1{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 7%;
}

/* styles for left div (main-container section-one) */

.sec-one-left{
    margin-top: 3%;
}

.sec-one-heading{
    font-size: 4rem;
    line-height: 80px;
}

.sec-one-content{
    margin-top: 4%;
    line-height: 30px;
    color: #c9c9c9;
}

.sec-one-btn{
    margin-top: 5%;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 590;
    color: #ffffff;
    background: #24a7ff;
}

/* styles for right div (main-container section-one) */

.sec-one-right{
    margin-left: 6%;
    margin-right: 2%;
}

.server-img{
    height: 500px;
    width: 500px;
}

/* ------------------------------------- */
/* Styles for section 2 (main-container) */
/* ------------------------------------- */

.section-2{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 3%;
}

/* styles for left div (main-container section-two) */

.sec-two-left{
    height: 100%;
    width: 50%;
    margin-left: 3%;
}

.testing-img{
    height: 500px;
    width: 500px;
}

/* styles for right div (main-container section-two) */

.sec-two-right{
    height: 100%;
    margin-left: 5%;
    margin-top: 8%;
}

.sec-two-heading{
    font-size: 4rem;
    line-height: 80px;
}

.sec-two-content{
    margin-top: 4%;
    line-height: 30px;
    color: #c9c9c9;
}

.sec-two-btn{
    margin-top: 5%;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 590;
    color: #ffffff;
    background: #24a7ff;
}

/* ------------------------------------- */
/* styles for section 3 (main-container) */
/* ------------------------------------- */

.section-3{
    height: 90vh;
    margin: 0 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* styles for left div (main-container section-three) */

.sec-three-left{
    margin-top: 7%;
    margin-left: 3%;
}

.sec-three-heading{
    font-size: 4rem;
    line-height: 80px;
}

.sec-three-content{
    margin-top: 4%;
    line-height: 30px;
    color: #c9c9c9;
}

.sec-three-btn{
    margin-top: 5%;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 590;
    color: #ffffff;
    background: #24a7ff;
}

/* styles for right div (main-container section-three) */

.sec-three-right{
    margin-left: 3%;
    margin-right: 2%;
}

.tech-img{
    height: 600px;
    width: 600px;
}

/* ------------------------------------------------- */
/* ------- styles for services section ------------- */
/* ------------------------------------------------- */

.divider-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* styles for left div */

.left{
    width: 50%;
    margin-left: 6%;
}

.services-heading{
    font-size: 3em;
}

/* styles for right div */

.right{
    width: 50%;
    color: #c9c9c9;
    margin-right: 6%;
}

.services-content{
    line-height: 30px;
}

/* ------------------------------------------------- */
/* ---------- styles for cards section ------------- */
/* ------------------------------------------------- */

.cards{
    margin: 5% 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}

.card{
    margin: 4% 6%;
}

.card-img{
    margin-bottom: 3%;
}

.card-img-inside{
    height: 50px;
    width: 50px;
}

.card-heading-content{
    font-size: 20px;
    margin-bottom: 3%;
}

.card-content-content{
    color: #c9c9c9;
}

/* ------------------------------------------------- */
/* ---------- styles for pricing section ----------- */
/* ------------------------------------------------- */

.pricing-cards{
    height: 105vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #24a7ff;
}

.pricing-heading{
    margin-top: 6%;
    font-size: 3rem;
    color: #ffffff;
}

.pricing-cards-div{
    display: flex;
    gap: 30px;
    margin-top: 5%;
}

.pricing-card{
    height: 600px;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* padding: 1% 3%; */
}

.card-heading{
    padding-top: 5%;
    padding-left: 3%;
    height: 20%;
}

.cp-heading{
    font-size: 25px;
    font-weight: 900;
}

.cp-content{
    margin-top: 4%;
    color: #c9c9c9;
}

.card-body{
    height: 50%;
}

.features{
    padding: 7% 9%;
}

.feature{
    margin-top: 6%;
}

li.feature::before{
    content: '\2713';
    height: 1px;
    width: 1px;
    text-align: center;
    color: #07d7a0;
    border: 2px solid #07d7a0;
    border-radius: 50%;
    margin-right: 3%;
    font-weight: 900;
    padding: 0 2px;
}

.card-footing{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price{
    justify-self: flex-start;
    font-size: 2rem;
}

.price :first-child{
    color: #c9c9c9;
}

.cancel-link{
    margin-top: 10px;
    font-size: 15px;
    color: #c9c9c9;
}

.card-btn{
    margin-top: 10%;
    height: 40px;
    width: 200px;
    background: transparent;
    border: 2px solid #24a7ff;
    border-radius: 10px;
    font-weight: 600;
    color: #24a7ff;
}

.active > .card-heading{
    background-color: #000;
    color: #fff;
    border-radius: 10px;
}

.active > .card-footing > .card-btn{
    background: transparent;
}

/* ------------------------------------------------- */
/* ---------- styles for customer section ---------- */
/* ------------------------------------------------- */

.cus-feedback{
    padding: 5% 5%;
}

.cus-heading{
    text-align: center;
    font-size: 50px;
}

.cus-subs{
    margin-top: 1%;
    text-align: center;
    font-size: 15px;
    padding: 0 15%;
    color: #c9c9c9;
}

.feedback-cards{
    margin-top: 5%;
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 40px;
}

.fb-card{
    height: 200px;
    width: 600px;
    padding: 3% 6%;
    background-color: #fbfcf8;
    border: 1px solid #c9c9c9;
}

.fc-content{
    /* margin-top: 2%; */
}

.card-footer{
    margin-top: 3%;
    display: flex;
}

.footer-content{
    margin-left: 3%;
}