@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

a :hover{
    cursor: pointer;
}

button :hover{
    cursor: pointer;
}

/* Styles for navbar */

#nav-container{
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    
}

.nav-logo{
    justify-self: flex-start;
}

.logo{
    height: 50px;
    width: 120px;
}

.listAndBtn{
    margin-left: 28%;
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}


.nav-link > a{
    font-size: 15px;
    font-weight: 590;
    color: #c9c9c9;
}

.nav-links :first-child > a{
    font-size: 15px;
    font-weight: 590;
    color: #000;
}

.nav-btn{
    margin-left: 50px;
}

.RegButton{
    height: 50px;
    width: 170px;
    background: transparent;
    border: 2px solid;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
}

/* ------------------------- */

/* Styles for main container */

#main-container{
    margin: 0 3%;
}

/* ------------------------------------- */
/* Styles for section 1 (main-container) */
/* ------------------------------------- */

.section-1{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 7%;
}

/* styles for left div (main-container section-one) */

.sec-one-left{
    margin-top: 3%;
}

.sec-one-heading{
    font-size: 4rem;
    line-height: 80px;
}

.sec-one-content{
    margin-top: 4%;
    line-height: 30px;
    color: #c9c9c9;
}

.sec-one-btn{
    margin-top: 5%;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 590;
    color: #ffffff;
    background: #24a7ff;
}

/* styles for right div (main-container section-one) */

.sec-one-right{
    margin-left: 6%;
    margin-right: 2%;
}

.server-img{
    height: 500px;
    width: 500px;
}

/* ------------------------------------- */
/* Styles for section 2 (main-container) */
/* ------------------------------------- */

.section-2{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* styles for left div (main-container section-two) */

.sec-two-left{
    height: 100%;
    width: 50%;
    margin-left: 3%;
}

.testing-img{
    height: 500px;
    width: 500px;
}

/* styles for right div (main-container section-two) */

.sec-two-right{
    height: 100%;
    margin-left: 5%;
    margin-top: 8%;
}

.sec-two-heading{
    font-size: 4rem;
    line-height: 80px;
}

.sec-two-content{
    margin-top: 4%;
    line-height: 30px;
    color: #c9c9c9;
}

.sec-two-btn{
    margin-top: 5%;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 590;
    color: #ffffff;
    background: #24a7ff;
}

/* ------------------------------------- */
/* styles for section 3 (main-container) */
/* ------------------------------------- */

.section-3{
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* styles for left div (main-container section-one) */

.sec-three-left{
    margin-top: 5%;
    margin-left: 3%;
}

.sec-three-heading{
    font-size: 4rem;
    line-height: 80px;
}

.sec-three-content{
    margin-top: 4%;
    line-height: 30px;
    color: #c9c9c9;
}

.sec-three-btn{
    margin-top: 5%;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 590;
    color: #ffffff;
    background: #24a7ff;
}

/* styles for right div (main-container section-one) */

.sec-three-right{
    margin-left: 3%;
    margin-right: 2%;
}

.tech-img{
    height: 600px;
    width: 600px;
}

/* ------------------------------------------------- */
/* ------- styles for services section ------------- */
/* ------------------------------------------------- */

.divider-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* styles for left div */

.left{
    width: 50%;
    margin-left: 6%;
}

.services-heading{
    font-size: 3em;
}

/* styles for right div */

.right{
    width: 50%;
    color: #c9c9c9;
    margin-right: 6%;
}

.services-content{
    line-height: 30px;
}

/* ------------------------------------------------- */
/* ------- styles for cards section ------------- */
/* ------------------------------------------------- */

.cards{
    margin: 5% 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}

.card{
    margin: 4% 6%;
}

.card-img{
    margin-bottom: 3%;
}

.card-img-inside{
    height: 50px;
    width: 50px;
}

.card-heading-content{
    font-size: 20px;
    margin-bottom: 3%;
}

.card-content-content{
    color: #c9c9c9;
}